@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sancreek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@font-face{
    font-family: "unknown";
    src: url("/unknown/TTF/Unknown-RND.ttf");
}

$mainPurple: #473d71;
$sunset: #f5bd89;
$accentPurple: #D7D0F1;
$titleOrange: #DAA270;
$textAccPurple: #A195D6;
$promptVal: #FBF3E5;
$mainFont: "Press Start 2p";
$smallText: "Ubuntu";
$popUp: #C4C4C4;
$canvasOrange: rgb(197, 147, 90);


@mixin rect($width, $height, $color, $direction, $justify){
    width: $width;
    height: $height;
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    background-color: $color;
}

@mixin hovering{
    &:hover{
        cursor: pointer;
    }
}

body{
    width: 100vw;
    height: 100vh;
    background-color: $mainPurple;
    align-content: center;
    align-items: space-around;
    display: grid;
    justify-items: center;
    margin: 0;
}

.container{
    @include rect(967px, 547px , $sunset, row, center);
    border-radius: 21px 21px 21px 56px;
    box-shadow: 13px 13px 2px 2px #30294b;
    place-items: center;
    z-index: 1;
    .box{
        @include rect(100%, 100%, $sunset, row, right);
        justify-content: center;
        align-items: center;
        border-radius: 21px 21px 21px 56px;

        canvas{
            border-radius: 21px 21px 21px 56px;
            justify-content: center;
            align-items: center;
            background-color: $canvasOrange;
            width: 90%;
            height: 90%;
            z-index: 3;
        }

    }

    button{
        justify-content: center;
        align-items: center;
        position: absolute;
        font-family: $sunset;
        font-size: 18pt;
        padding: 15px 25px;
        border-radius: 25px;
        border-color: #9c27b0;
        border-width: 5px;
        background-color: $accentPurple;
        z-index: 4;
        @include hovering();
    }
}